.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#fullWidth{
  width: 80vw;
  min-height: 10vh;
}
#button{
  margin: 3% 0;
}
#AppBar{
  padding: 1% 0;
  font-weight: bold;
  font-size: large;
}
#selects{
  display: flex;
  width: 80vw;
  justify-content: space-around;
  margin-bottom: 2%;
}